.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  padding: 2em 4em;
}

#drawer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border: #aaa 2px solid;
  box-shadow: 3px 3px 0 0 #aaa;
}

#drawer:hover {
  border: #222 2px solid;
  box-shadow: 3px 3px 0 0 #222;
}