
.PickerPanel {
  background-color: white;
  width: min-content;
  height: max-content;
  padding: .5em;
}

#sb{
  text-align: left;
  position: relative;
}

#SatBri, #cursor{
  position: absolute;
}

#cursor{
  background-color: pink;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}