
.PickerPanel {
  background-color: #eee;
  width: min-content;
  height: 240px;
  border-radius: 20px 20px;
  padding: .5em;
}

#sb{
  text-align: left;
  position: relative;
  user-select: none;
}

#sb p{
  color: wheat;
}

#SatBri, #cursor{
  position: absolute;
  left: 12%;
}

#cursor{
  z-index: 5;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}