
.PickerPanel {
  background-color: white;
  width: min-content;
  height: max-content;
  padding: .5em;
}

#sb{
  text-align: left;
  position: relative;
  user-select: none;
}

#sb p{
  color: wheat;
}

#SatBri, #cursor{
  position: absolute;
}

#cursor{
  z-index: 5;
  background-color: pink;
  border-radius: 50%;
}